{% extends 'blog/base.html' %}

{% block content %}

        {% if user.is_authenticated %}
        <h1>{{ user.username }} Welcome to your profile page</h1>
        <img src="{{ user.image.url }}" width = "150" height = "150"  />
        <h4>Email:- {{ user.email }}</h4>
        <h4>Mobile number:- {{ user.mobile_number }}</h4>
        <h4>City:- {{ user.city }}</h4>
        <h4>State:- {{ user.state }}</h4>
        <h4>Country:- {{ user.country }}</h4>
        

        {% endif %}
{% endblock %}