{% extends 'blog/base.html' %}

{% block content %}

{% for post in posts %}
   
    <article class="post">
        
            <time class="date">
                {{ post.published_date }}
            </time>
        <h2><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h2>
        {% for tag in post.tag.all %}
        <h2><a href = "{% url 'tags_list' slug=tag.slug %}">{{ post.tag}}</a></h2>
        {% endfor %}
        <h5><a href="{% url 'category_list' slug=post.category.slug %}">{{ post.category }} </a></h5>
        <p>{{ post.text|slice:"550" }}</p>
        
        
    </article>
    

{% endfor %}
{% endblock %}   







